<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Vote Results</title>
</head>

<body>
    <h2 style="text-align: center;">Filmjeim</h2>
    <table>
        <thead>
            <tr>
                <th>Felhasználónév</th>
                <th>Filmek</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <% movies.forEach(movies=> { %>
                <tr>
                    <td>
                        <%= movies.username %>
                    </td>   
                    <td>
                        <%= movies.movie_selected %>
                    </td>
                    <td>
                        <%= movies.movie_selected_link %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>