/* 
none típus:
    - nem jeleníti meg a böngésző az adott tulajdonságú elemet */

/* inline típus:
    - nincs sortörés az ilyen tulajdonságú elem után
    - width és a hight tulajdonság, bármit is állítunk be nem hat az elemre!
    - paddig és a margin, az elem körüli szöveget tolja csak odébb
    - a border tulajdonság megmaradt :)
    - ilyen elemek a következők: span, img, a */

.inlineDisplay{
    display:inline;
}

/* block típus:
    - sortörés lesz az elem után(egy adott sort foglal el)
    - minden box modell tulajdonság (widht, height, padding, border, és margin) alkalmazható rá
    - ilyen elemek a következők: <div> , <h1> - <h6>, <p>, <form>, <header>, <footer>, <section> */
.blockDisplay{
    display:block;
}

/* inline-block típus: az előző kettő keveréke:
    - nincs sortörés az ilyen tulajdonságú elem után [inline tulajdonság]
    - minden box modell tulajdonság (widht, height, padding, border, és margin) alkalmazható rá [block tulajdonság]
    - eltolja a maga körüli elemeket minden irányban */

.inlineBlockDisplay{
    display:inline-block;
}
/* További tananyag: 
https://www.w3schools.com/css/css_display_visibility.asp
https://css-tricks.com/almanac/properties/d/display/  */
