#margin {
	background-color: red;
	/*A könnyeb áttekinthetőség miatt*/
	border: 1px solid black;
	width: 400px;
	height: 40px;
	margin: 40px auto 20px auto;
}

/*A margin segítségével meghatározhatjuk a div elemek közötti távolságot, valamint az oldal szélétől való távolságát is az elemnek.*/

/*Hogyan adhatjuk meg? Alapértelmezetten minden irányba, ugyanazt az értéket adjuk meg így!
margin:10px;

Milyen értékeket vehet fel?
- értékeket pixelben: margin:10px;
- értékeket százalékban: margin:5%;
- "inherit" érték esetén a szülő elem értékeit örökli
- automatikus érték: margin-left: auto; & margin-left: auto;

Értékek beállítása külön-külön:
- margin-top;
- margin-right;
- margin-bottom;
- margin-left;

Értékek beállítása egyszerre: 
- pixelben megadott értékkel: margin 40px 20px 40px 20px;
- százalékban megadva:  margin: 20% 10% 10% 20%;

	1.- top			1.- top				1.- top bottom		1. top, bottom, right, left
	2.- right		2.- right,left		2.- right left
	3.- bottom		3.- bottom
	4.- left
	
- margó távolság pontos megadása, elemek közti távolság számítása
*/